
<h1>Bienvenido al sistema web del teatro Milan</h1>
<h2>@ViewBag.Fecha</h2>

@section izq{
    <p>
        The Teatro Colón (Colón Theatre) in Buenos Aires is one of the most important opera houses in the world.
        Its rich and prestigious history and its exceptional acoustics and architectural features rank it among theatres such as Teatro alla Scala in Milan,
        the Paris Opera House, the Vienna State Opera, the Royal Opera House in London, and the Metropolitan Opera House in New York.
    </p>
    <p>
        The Colón operated in its first venue from 1857 until 1888, after which the building was closed for the construction of a new house.
        The new improved house opened on May 25th 1908 with a performance of Aïda. In the beginning, the theatre recruited opera companies from other countries,
        but as of 1925 it has had its own permanent companies (orchestra, ballet and choir) and its own production workshops, which have allowed the theatre to organise
        its own seasons since the 1930s, funded by the city budget.
    </p>
}
@section der{

    <img id="derimg" src="~/Images/interior1.jpg" />
    <img id="derimg" src="~/Images/interior2.jpg" />
    <img id="derimg" src="~/Images/interior3.jpg" />
}

